name: Build and push
on: [push]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build
        uses: docker/build-push-action@v2
        with:
          load: true
          tags: cs50/codespace:${{ github.sha }},cs50/codespace:latest

      - name: Push
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          docker push cs50/codespace:${{ github.sha }}
          docker push cs50/codespace:latest
